
{% extends "layout/base.html" %}

{% block body %}

<div class="container" >
    <br/>
    <div class="nav-item dropdown">
        {% if session['admin'] %}
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Editar
            </button> 
        {% endif%}        
        <div class="dropdown-menu" id="d" aria-labelledby="navbarDropdown">  
            <a class="dropdown-item"  href="/selecionar_filmes"> Filmes</a>
            <a class="dropdown-item"  href="/selecionar_series"> Séries</a>
        </div>
    </div>
    <section style="position:relative;width:100%;height:30em;" class="service-section bg-gray section">
        <br/><br/>
        <div style="position:relative;color:#377BA8;width:100%;" class="section-title text-center">
            <h1> Lançamentos <span>Filmes 2019</span></h1>
        </div>
        <br/><br/>
        <div style="position:relative;width:80%;left:9.5%;" class="row items-container clearfix">
            {% for item in ls_films_active %}
                {% if item.active %}
                    <div style="position:relative;width:80%;" class="item" >
                        <div class="inner-box" >
                            <div class="image-holder">
                                <img src="{{url_for('static', filename='film/images/'+item.image)}}" style="width:280px;height:400px"  class="img-responsive" alt="...">
                                    <a href="/filme/info/{{ item.id }}">
                                        <i id="icon" style="position: relative;left: 45%;color: rgba(255, 255, 255, 0.83);top:-4em;font-size:55px;" class="fa fa-play-circle-o"                                 aria-hidden="true"></i>
                                    </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>
    <br><br><br><br>

    <section style="position:relative;width:100%;height:25em;" class="service-section bg-gray section">
        <br /><br /><br />
        <div style="position:relative;color:#377BA8;width:100%;" class="section-title text-center">
            <h1> Lançamentos <span>Séries 2019</span></h1>
            <br/>
        </div>
        <br />
        <div style="position:relative;width:80%;left:9.5%;" class="row items-container clearfix">
            {% for item in ls_series_active %}
                {% if item.active %}
                    <div style="position:relative;width:80%;" class="item">
                        <div class="inner-box">
                            <div class="image-holder">
                                <img src="{{url_for('static', filename='serie/images/'+item.image)}}"
                                    style="width:280px;height:400px" class="img-responsive" alt="...">
                                <a href="/serie/lista/{{ item.id }}">
                                    <i id="icon"
                                        style="position: relative;left: 45%;color: rgba(255, 255, 255, 0.83);top:-4em;font-size:55px;"
                                        class="fa fa-play-circle-o" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>
    
    {% if not session['admin'] %}
    <section style="position:relative;top:13em;width:100%;height:35em;" class="service-section bg-gray section">
        <br/><br/><br/>
        <div style="position:relative;color:#377BA8;width:100%;" class="section-title text-center">
            <h1> Continuar assistindo Filmes</span></h1>
        </div>
        <br/><br/>
        <div style="position:relative;width:80%;left:9.5%;" class="row items-container clearfix">
            {% for item in ls_films %}
            <div  class="item">
                <div class="inner-box">
                    <div class="image-holder">
                        <div class="card" style="position:relative;margin:1%;width: 18rem;">
                            <img  src="{{url_for('static', filename='film/images/'+item.image)}}" width="400px" height="400px" class="card-img-top" alt="...">
                            <div class="card-body">                                    
                                <h5 class="card-title">{{ item.title }}</h5>
                                <a href="/filme/info/{{item.id}}">          
                                    <i id="icon" style="position: relative;left: 45%;color: rgba(255,255, 255, 0.83);top:-5em;font-size:55px;" class="fa              fa-play-circle-o" aria-hidden="true"></i>
                                </a>
                            </div>
                            <br/>
                        </div>
                    </div>
                </div>
            </div>            
            {% endfor %}
        </section>
        <section style="position:relative;top:30em;width:100%;height:55em;" class="service-section bg-gray section">
            <div style="position:relative;color:#377BA8;width:100%;" class="section-title text-center">
                <h1> Continuar assistindo Séries</span></h1>
            </div>
            <br/><br/>
            {% for item in ls_series %}
            <div class="item">
                <div class="inner-box">
                    <div class="image-holder">
                        <div class="card" style="position:relative;margin:1%;width: 18rem;">
                            <img src="{{url_for('static', filename='serie/images/'+item.image)}}" width="400px" height="400px"
                                class="card-img-top" alt="...">
                            {% for item2 in ls_episodes %}
                            <div class="card-body">
                                <h5 class="card-title">{{ item2.title }}</h5>
                                <h5 class="card-title">Temporada: {{ item2.season_number }}</h5>
                                <h5 class="card-title">Episódio: {{ item2.id }}</h5>
                                <a href="/serie/{{item.id}}/{{item2.season_number}}/{{item2.id}}">
                                    <i id="icon"
                                        style="position: relative;left: 40%;color: rgba(255,255, 255, 0.83);top:-6.3em;font-size:55px;"
                                        class="fa fa-play-circle-o" aria-hidden="true"></i>
                                </a>
                            </div>
                            {% endfor %}
                            <br />
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
    {% endif %}
    </section>
</div>
</div>

<script src="{{url_for('static', filename='plugins/jquery.js')}}"></script>
<script src="{{url_for('static', filename='plugins/bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/bootstrap-select.min.js')}}"></script>
<!-- Slick Slider -->
<script src="{{url_for('static', filename='plugins/slick/slick.min.js')}}"></script>

<script src="{{url_for('static', filename='plugins/validate.js')}}"></script>
<script src="{{url_for('static', filename='plugins/wow.js')}}"></script>
<script src="{{url_for('static', filename='plugins/jquery-ui.js')}}"></script>
<script src="{{url_for('static', filename='js/script.js')}}"></script>

{% endblock %}
