{% extends "layout/base.html" %}

{% block body %}
<div class="container" >
    <section style="position:relative;width:100%;height:25em;" class="service-section bg-gray section">
        <br />
        <br />
        <br />
        <div style="position:relative;color:#377BA8;width:100%;" class="section-title text-center">
            <h3> Lançamentos
                <span>Filmes 2019</span>
            </h3>
        </div>
        <br />
        <div style="position:relative;width:80%;left:9.5%;" class="row items-container clearfix">
            <div class="item">
                <div class="inner-box">
                    <div class="image-holder">
                        <img src="{{url_for('static', filename='images/capitamarvel.jpg')}}" class="img-responsive"
                            alt="video-gallery">

                    </div>
                </div>
            </div>
            <div style="position:relative;width:80%;" class="item">
                <div class="inner-box">
                    <div class="image-holder">
                        <img style="width:82%;" src="{{url_for('static', filename='images/deadpool.jpg')}}"
                            class="img-responsive" alt="video-gallery">

                    </div>
                </div>
            </div>
            <div style="position:relative;width:80%;" class="item">
                <div class="inner-box">
                    <div class="image-holder">
                        <img  src="{{url_for('static', filename='images/longedolar.jpg')}}"
                            class="img-responsive" alt="video-gallery">

                    </div>
                </div>
            </div>
            <div style="position:relative;width:80%;" class="item">
                <div class="inner-box">
                    <div class="image-holder">
                        <img style="width:85%;" src="{{url_for('static', filename='images/reileao.jpg')}}"
                            class="img-responsive" alt="video-gallery">


                    </div>
                </div>
            </div>
            <div style="position:relative;width:80%;" class="item">
                <div class="inner-box">
                    <div class="image-holder">
                        <img style="width:82%;" src="{{url_for('static', filename='images/toystore.jpeg')}}"
                            class="img-responsive" alt="video-gallery">
                    </div>
                </div>
            </div>

    </section>
    <br/>
    <br/>
    <br/>
    
    <section id="series" style="position:relative;top:10em;width:100%;height:25em;" class="service-section bg-gray section">
        <div style="position:relative;color:#377BA8;width:100%;" class="section-title text-center">
            <h3> Séries
            </h3>
        </div>
        <br />
        <div style="position:relative;width:80%;left:9.5%;" class="row items-container clearfix">
            <div class="item">
                <div class="inner-box">
                    <div class="image-holder">
                        <img style="width:82%" src="{{url_for('static', filename='images/sobrenatural.jpg')}}"
                            class="img-responsive" alt="video-gallery">

                    </div>
                </div>
            </div>
            <div style="position:relative;width:80%;" class="item">
                <div class="inner-box">
                    <div class="image-holder">
                        <img style="width:85%;" src="{{url_for('static', filename='images/stranger.jpg')}}"
                            class="img-responsive" alt="video-gallery">
                    </div>
                </div>
            </div>
            <div style="position:relative;width:80%;" class="item">
                <div class="inner-box">
                    <div class="image-holder">
                        <img style="width:85%;" src="{{url_for('static', filename='images/breakingbad.jpg')}}"
                            class="img-responsive" alt="video-gallery">
                    </div>
                </div>
            </div>
            <div style="position:relative;width:80%;" class="item">
                <div class="inner-box">
                    <div class="image-holder">
                        <img style="width:87%;" src="{{url_for('static', filename='images/anatomy.jpg')}}"
                            class="img-responsive" alt="video-gallery">
                    </div>
                </div>
            </div>
            <div style="position:relative;width:80%;" class="item">
                <div class="inner-box">
                    <div class="image-holder">
                        <img style="width:85%;" src="{{url_for('static', filename='images/twd.jpg')}}"
                            class="img-responsive" alt="video-gallery">
                    </div>
                </div>
            </div>
            <div style="position:relative;width:80%;" class="item">
                <div class="inner-box">
                    <div class="image-holder">
                        <img style="width:85%;" src="{{url_for('static', filename='images/odeiaochris.jpg')}}"
                            class="img-responsive" alt="video-gallery">
                    </div>
                </div>
            </div>
    </section>

</div>
</div>

<script src="{{url_for('static', filename='plugins/jquery.js')}}"></script>
<script src="{{url_for('static', filename='plugins/bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/bootstrap-select.min.js')}}"></script>
<!-- Slick Slider -->
<script src="{{url_for('static', filename='plugins/slick/slick.min.js')}}"></script>
<!-- FancyBox -->
<script src="{{url_for('static', filename='plugins/fancybox/jquery.fancybox.min.js')}}"></script>
<!-- Google Map -->
<script src="{{url_for('static', filename='plugins/google-map/gmap.js')}}"></script>

<script src="{{url_for('static', filename='plugins/validate.js')}}"></script>
<script src="{{url_for('static', filename='plugins/wow.js')}}"></script>
<script src="{{url_for('static', filename='plugins/jquery-ui.js')}}"></script>
<script src="{{url_for('static', filename='js/script.js')}}"></script>

{% endblock %}
