{% extends 'layout/base.html' %}
{% block body %}

<div class="container">
    <form id="cadastro"  style="position:relative;top:5em;" class="form-signin" action="/usuario/" method="POST">
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}
        <h1 id="login">Cadastro</h1>
        <br />
        <div class="form-label-group">
            <label for="inputName">Nome</label>
            <input type="name" id="email2" style="position:relative;font-size:17px;" name="name" class="form-control"
                placeholder="Nome" required>
        </div>
        <br />
        <div class="form-label-group">
            <label for="inputEmail">Email</label>
            <input type="email" id="email2" style="position:relative;font-size:17px;" name="email" class="form-control"
                placeholder="Email" required>
        </div>
        <br />
        <div class="form-label-group">
            <label for="inputPassword">Senha</label>
            <input type="password" id="senha2" style="position:relative;font-size:17px" name="password"
                class="form-control" placeholder="Senha" required>
        </div>
        <br />
        <button class="btn btn-ms btn-primary btn-block" style="position:relative;left:40%;width:20%;font-size:17px;"
            type="submit">Cadastrar</button>
        <a href="/usuario/entrar">Possui conta? Inicie a sessão</a>
        <hr style="background-color:blue;" class="my-4">
    </form>
</div>
{% endblock %}
