{% extends 'layout/base.html' %}
{% block body %}
<div style="width:90%;" class="row">
  <div class="col">
      <img src="{{url_for('static', filename='serie/images/'+serie.image)}}" width="500" height="550" alt="">         
  </div>
  <div style="position:relative;top:1em;" class="col">  
    <button  type="button" class="btn btn-outline-primary" id="watch" data-toggle="modal" data-target="#modalExemplo" 
    {% if (session['admin'] == true ): %} {% print('disabled') %} {% endif %}>Assistir</button>    <br/>
    <br/>
    
    <h1 style="text-align: center;" >{{ ls.title }}</h1>
    <br/>
    <p style="font-size:22.2px;">Série: {{ls.title}}</p>
    <p style="font-size:22.2px;">Temporada: {{ls.season_number}}°</p>            
    <p style="font-size:22.2px;" id="duration"></p>
  </div>
</div>

  <div class="col">
      <div class="modal fade"   id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div  style="position:relative;left:-15em;width:180%;"class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title"  id="exampleModalLabel">{{ ls.title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                </button>
              </div>
              <div class="modal-body">
                  <video id="video" width="800" height="450" style="outline: none;" controls controlsList="nodownload">
                      <source src="{{url_for('static', filename='serie/videos/' + ls.video)}}" type="video/mp4">
                  </video>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="close" data-dismiss="modal">Fechar</button>
              </div>
            </div>
          </div>
        </div>
    </div>
    
    <script src="{{url_for('static', filename='plugins/jquery.js')}}"></script>
    <script src="{{url_for('static', filename='js/save_minute.js')}}"></script>
    <script src="{{url_for('static', filename='js/get_duration.js')}}"></script>
    <script src="{{url_for('static', filename='js/get_minute.js')}}"></script>
  
{% endblock %}
