{% extends 'layout/base.html' %}
{% block body %}
<form style="position:relative;" action="/serie/buscar" method="post" class="form-inline">
    <input style="position:relative;width:60%;" class="form-control mr-sm-2" name="search" type="search"
        placeholder="Pesquisar" aria-label="Pesquisar">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
</form>
<div class="container">
    <br />
    <h1>Séries</h1>
    <br />
    <div class="row">
        {% for item in ls %}
        <div class="card" style="position:relative;margin:1%;width: 18rem;">
            <img src="{{url_for('static', filename='serie/images/'+item.image)}}" width="400px" height="400px"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ item.title }}</h5>
                <a href="lista/{{item.id}}">
                    <i style="position: relative;left: 45%;color: rgba(255, 255, 255, 0.83);top:-5em;font-size:55px;"
                        class="fa fa-play-circle-o" aria-hidden="true"></i>
                </a>
                {% if session['admin'] %}
                <a href="atualizar/{{ item.id }}" class="btn btn-info">Atualizar</a>
                <a href="del/{{ item.id }}" class="btn btn-danger">Deletar</a>
                {% endif %}

            </div>
        </div>
        {% endfor %}
    </div>
</div>
</table>
{% endblock %}