{% extends 'layout/base.html' %}
{% block body %}
<div style="width:90%;" class="row">
  <div class="col">
  <img src="{{url_for('static', filename='images/'+ls.image)}}" width="500px" height="500px" alt="">
  </div>
  <div style="position:relative;top:1em;" class="col">
    <button class="btn btn-light" style="color:white;box-shadow: 1px 1px gray;background-color:{% if (ls.ageRange == 'L'): %} {% print('green') %} {% endif %}
    {% if (ls.ageRange == '10'): %} {% print('blue') %} {% endif %}
    {% if (ls.ageRange == '12'): %} {% print('yellow') %} {% endif %}
    {% if (ls.ageRange == '14'): %} {% print('orange') %} {% endif %}
    {% if (ls.ageRange == '16'): %} {% print('red') %} {% endif %}
    {% if (ls.ageRange == '18'): %} {% print('black') %} {% endif %}" disabled="disabled" >{{ ls.ageRange }}</button>        
    <button  type="button" class="btn btn-outline-primary" id="watch" data-toggle="modal" data-target="#modalExemplo" 
    {% if (session['admin'] == true ): %} {% print('disabled') %} {% endif %}>Play</button>    <br/>
    <br/>
    
    <h1 style="text-align: center;" >{{ ls.title }}</h1>
    <br/>
    
    <p style="font-size:22.2px;" id="duration"></p>
    <h3 style="color:#377BA8;font-family:'Georgia', serif;text-align: center;">Sinopse</h3>
    <p style="font-size:22.2px;">{{ls.synopsis}}</p>
  </div>
</div>

  <div class="col">
      <div class="modal fade"   id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div  style="position:relative;left:-15em;width:180%;"class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title"  id="exampleModalLabel">{{ ls.title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                </button>
              </div>
              <div class="modal-body">
                  <video id="video" width="800" height="450" style="outline: none;" controls controlsList="nodownload">
                      <source src="{{url_for('static', filename='videos/'+ls.video)}}" type="video/mp4">
                  </video>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="close" data-dismiss="modal">Fechar</button>
              </div>
            </div>
          </div>
        </div>
    </div>
    <script src="{{url_for('static', filename='plugins/jquery.js')}}"></script>
    <script src="{{url_for('static', filename='js/video.js')}}"></script>
  
{% endblock %}
