{% extends 'layout/base.html' %}
{% block body %}
<div class="container">
    <br/>
    <h1>Filmes</h1>
    <br/>
    <div class="row" >            
    {% for item in ls %}
            
       <div class="card" style="width: 18rem;">
            <img  src="{{url_for('static', filename='images/'+item.image)}}" width="400px" height="400px" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ item.title }}</h5>
              <a href="info/{{item.id}}" style="position:relative;width:100%;" class="btn btn-primary">Info</a>
              <br/>
              <br/>
              {% if admin %}
                <a  href="atualizar/{{ item.id }}" class="btn btn-info">Atualizar</a>
                <a href="del/{{ item.id }}" class="btn btn-danger">Deletar</a>
              {% endif %}
              
            </div>
          </div>
    {% endfor %}
      </div>        
   </div>
</table>
{% endblock %}