{% extends 'layout/base.html' %}
{% block body %}


<div class="container">
    <br/>
    <h1 style="text-align:center;">Alterar Filmes</h1>
    <br/>
    <form action="#" style="position:relative;height:80%;"class="form-control" enctype="multipart/form-data" method="post">
        <div class="form-group">
            <label for="staticEmail2">Título</label> 
            <input  type="text" class="form-control" name="title" value="{{ ls.title }}" placeholder="Digite o título">
        </div>
        <div class="form-group">
            <label for="staticEmail2">Sinopse</label>
            <textarea name="synopsis" class="form-control" cols="30" rows="10" placeholder="Digite a sinopse">{{ ls.synopsis }}</textarea>
        </div>
        <div class="form-group">
            <label for="staticEmail2">Faixa etária</label>
            <input type="number" class="form-control"  value="{{ ls.ageRange }}"  name="ageRange" placeholder="Faixa etária">
        </div>
        <input type="file" name="file">
        <input type="file" name="video">
        <input type="submit" class="btn btn-primary" value="Adicionar">
        
    </form>
</div>
{% endblock %}